{% extends 'pages/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block header_title %}{{ subtitle }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>Available products</h2>
      <ul>
        {% for key, product in products.items %}
          <li>
            Id: {{ key }} - Name: {{ product.name }} - Price: {{ product.price }}
            - <a href="{% url 'cart_add' key %}">Add to cart</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>Products in cart</h2>
      <ul>
        {% for key, product in cart_products.items %}
          <li>
            Id: {{ key }} - Name: {{ product.name }} - Price: {{ product.price }}
          </li>
        {% empty %}
          <li>No products in the cart</li>
        {% endfor %}
      </ul>
      <a href="{% url 'cart_removeAll' %}">Remove all products from cart</a>
    </div>
  </div>
</div>
{% endblock %}
